#logo-main {
    width: 80px;
    height: 65px;
}

#search-text {
    color: black;
}

/* #account-icon {
    width: 80px;
    height: 65px;
} */

.btn {
    background-color: #e75a2c;
}

.btn:hover {
    background-color: #0092ff;
}

input:not([type]):focus:not([readonly]),
input[type='text']:not(.browser-default):focus:not([readonly]),
input[type='password']:not(.browser-default):focus:not([readonly]),
input[type='email']:not(.browser-default):focus:not([readonly]),
input[type='url']:not(.browser-default):focus:not([readonly]),
input[type='time']:not(.browser-default):focus:not([readonly]),
input[type='date']:not(.browser-default):focus:not([readonly]),
input[type='datetime']:not(.browser-default):focus:not([readonly]),
input[type='datetime-local']:not(.browser-default):focus:not([readonly]),
input[type='tel']:not(.browser-default):focus:not([readonly]),
input[type='number']:not(.browser-default):focus:not([readonly]),
input[type='search']:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid #5a9734;
    -webkit-box-shadow: 0 1px 0 0 #5a9734;
    box-shadow: 0 1px 0 0 #5a9734;
}

label.focus {
    color: #5a9734;
}

label.active {
    color: #5a9734;
}

.active {
    color: #5a9734 !important;
}

#account-icon {
    color: #5a9734;
}

#right {
    position: absolute;
    right: 10px;
}

