#logo-main {
    width: 80px;
    height: 65px;
}

#shopping-cart-title {
    color: #5a9734;
    text-decoration: underline;
    font-weight: bold;
    font-size: x-large;
    padding-bottom: 10px;
}

#shoppingList {
    line-height: 1.6;
}

#search-text {
    color: black;
}

.btn {
    background-color: #e75a2c;
}

.btn:hover {
    background-color: #0092ff;
}

.remove {
    background-color: #e75a2c;
    color: white;
}

.remove:hover {
    background-color: #0092ff;
}

.add-button {
    background-color: #e75a2c;
    color: white;
}

.add-button:hover {
    background-color: #0092ff;
}

/* #button-0 {
    font-weight: bolder;
    font-size: 5px;
} */

input:not([type]):focus:not([readonly]),
input[type='text']:not(.browser-default):focus:not([readonly]),
input[type='password']:not(.browser-default):focus:not([readonly]),
input[type='email']:not(.browser-default):focus:not([readonly]),
input[type='url']:not(.browser-default):focus:not([readonly]),
input[type='time']:not(.browser-default):focus:not([readonly]),
input[type='date']:not(.browser-default):focus:not([readonly]),
input[type='datetime']:not(.browser-default):focus:not([readonly]),
input[type='datetime-local']:not(.browser-default):focus:not([readonly]),
input[type='tel']:not(.browser-default):focus:not([readonly]),
input[type='number']:not(.browser-default):focus:not([readonly]),
input[type='search']:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid #5a9734;
    -webkit-box-shadow: 0 1px 0 0 #5a9734;
    box-shadow: 0 1px 0 0 #5a9734;
}

label.focus {
    color: #5a9734;
}

label.active {
    color: #5a9734;
}

.active {
    color: #5a9734 !important;
}

#account-icon {
    color: #5a9734;
}

#right {
    position: absolute;
    right: 10px;
}

#pizza-container {
    height: 100vh;
    width: 100vw;
    background: #0092ff;
    display: flex;
    align-items: center;
    justify-content: center;
}


.alignme {
    margin-right: 0;
    text-align: right;
    float: right;
}

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    margin: auto;
    display: none;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

