:root{
    --green: #5a9734;
    --blue: #0092ff;
    --red: #e75a2c;
}

#logo-main {
    width: 80px;
    height: 4rem;
    max-height: 62px;  
}

#shopping-cart-title {
    color: var(--green);
    text-decoration: underline;
    font-weight: bold;
    font-size: x-large;
    padding-bottom: 10px;
}

#shoppingList {
    line-height: 1.6;
}

#search-text {
    color: black;
}

.btn {
    background-color: var(--red);
}

.btn:hover {
    background-color: var(--blue);
}

.remove {
    background-color: var(--red);
    color: white;
}

.remove:hover {
    background-color: var(--blue);
}

.add-button {
    background-color: var(--red);
    color: white;
}

.add-button:hover {
    background-color: var(--blue);
}

.add-button:focus {
    background-color: var(--blue);
}

input:not([type]):focus:not([readonly]),
input[type='text']:not(.browser-default):focus:not([readonly]),
input[type='password']:not(.browser-default):focus:not([readonly]),
input[type='email']:not(.browser-default):focus:not([readonly]),
input[type='url']:not(.browser-default):focus:not([readonly]),
input[type='time']:not(.browser-default):focus:not([readonly]),
input[type='date']:not(.browser-default):focus:not([readonly]),
input[type='datetime']:not(.browser-default):focus:not([readonly]),
input[type='datetime-local']:not(.browser-default):focus:not([readonly]),
input[type='tel']:not(.browser-default):focus:not([readonly]),
input[type='number']:not(.browser-default):focus:not([readonly]),
input[type='search']:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid var(--green);
    -webkit-box-shadow: 0 1px 0 0 var(--green);
    box-shadow: 0 1px 0 0 var(--green);
}

label.focus {
    color: var(--green);
}

label.active {
    color: var(--green);
}

.active {
    color: var(--green) !important;
}

#account-icon {
    color: var(--green);
}

#right {
    position: absolute;
    right: 10px;
}

#pizza-container {
    height: 100vh;
    width: 100vw;
    background: var(--blue);
    display: flex;
    align-items: center;
    justify-content: center;
}


.alignme {
    margin-right: 0;
    text-align: right;
    float: right;
}

.loader {
    width: 120px;
    height: 120px;
    margin: auto;
    display: none;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

#collection-list {
    display: none;
}

#search-container {
    display: grid;
    grid-template-columns: 80% 1fr;
}

#search-btn {
    margin: auto;
}

@media (max-width: 768px){
    .s0 {
        display: none;
    }

    img {
        position: absolute;
        z-index: -1000;
        width: 100vw;
        height: auto;
        left: 0;
    }

    #nav-row {
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    }

    #search-container {
        grid-area: 2 / 1 / 3 / 4;
    }

    #nav-icon-container {
        grid-area: 1 / 1 / 2 / 4;
    }

    #logout {
        float: left;
        margin-top: 1rem;
    }
     
    #search-textlabel {
        margin-right: 10px;
    }
}