body, html {
  height: 100vh;
}

body {
  position: fixed;
  top: 5vh;
}

#login-btn-container {
  display: flex;
  justify-content: flex-end;
}

#signup-container {
  margin-top: 18vh;
}

.txt {
  margin: 0;
}

h2 {
  font-size: 24px;
}