:root {
    font-size: calc(1vw + 1vh + 1vmin);
}

/* PIZZA LOADER */
#pizza-container {
    height: 100vh;
    width: 100vw;
    background: #0092FF;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Background styles */
body {
    background: radial-gradient(circle closest-side at 50px 50px, #FB8B24 3px, transparent 0), radial-gradient(circle closest-side at 40px 60px, #FB8B24 3px, transparent 0), radial-gradient(circle closest-side at 60px 60px, #FB8B24 3px, transparent 0), radial-gradient(circle closest-side at 50px 70px, #FB8B24 3px, transparent 0), radial-gradient(circle closest-side at 150px 165px, #FB8B24 3px, transparent 0), radial-gradient(circle closest-side at 140px 175px, #FB8B24 3px, transparent 0), radial-gradient(circle closest-side at 160px 175px, #FB8B24 3px, transparent 0), radial-gradient(circle closest-side at 150px 185px, #FB8B24 3px, transparent 0), radial-gradient(ellipse closest-side at 50px 60px, #F9A734 18px, transparent 0), radial-gradient(ellipse closest-side at 150px 175px, #F9A734 18px, transparent 0), radial-gradient(circle closest-side at 30px 40px, #FFFFFF 15px, transparent 0), radial-gradient(circle closest-side at 40px 35px, #36964C 15px, transparent 0), radial-gradient(circle closest-side at 70px 40px, #FFFFFF 15px, transparent 0), radial-gradient(circle closest-side at 60px 35px, #286E38 15px, transparent 0), radial-gradient(circle closest-side at 130px 155px, #FFFFFF 15px, transparent 0), radial-gradient(circle closest-side at 140px 150px, #36964C 15px, transparent 0), radial-gradient(circle at 170px 155px, #FFFFFF 15px, transparent 0), radial-gradient(circle at 160px 150px, #286E38 15px, transparent 0);
    background-color: #FFFFFF;
    background-size: 180px 210px;
    animation: animatedBackground 1.2s cubic-bezier(0.61, -0.64, 0.58, 1.46) forwards;
    overflow-x: hidden;
}
  
  /* Animation */
@keyframes animatedBackground {
    from {
      background-position: 0 50%;
    }
    to {
      background-position: 0 0;
    }
}   

#logo-main {
    width: 80px;
    height: 4rem;
    max-height: 62px;   
}

#title {
    text-align: center;
    color: #5a9734;
    font-display: bold;
    font-size: 1.5rem;
    margin-top: 0.3rem;
    font-weight: bold;
    color: black;
}

#profile-view {
    text-align: center;
}

#account-icon {
    color: #5a9734;
}

.account-header-text {
    font-weight: bold;
}

#account-body {
    text-align: center;
    display: flex;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.card.large {
    width: 70%;
    margin: auto;
    height: 110vh;
}

#grid-container {
    display: grid;
}

#burger-pic {
    justify-self: center;
    height: 3rem;
    width: auto;
    margin: auto;
}

.btn {
    background-color: #e75a2c;
}
.btn:hover {
    background-color: #0092ff;
}

input:not([type]):focus:not([readonly]),
input[type='text']:not(.browser-default):focus:not([readonly]),
input[type='password']:not(.browser-default):focus:not([readonly]),
input[type='email']:not(.browser-default):focus:not([readonly]),
input[type='url']:not(.browser-default):focus:not([readonly]),
input[type='time']:not(.browser-default):focus:not([readonly]),
input[type='date']:not(.browser-default):focus:not([readonly]),
input[type='datetime']:not(.browser-default):focus:not([readonly]),
input[type='datetime-local']:not(.browser-default):focus:not([readonly]),
input[type='tel']:not(.browser-default):focus:not([readonly]),
input[type='number']:not(.browser-default):focus:not([readonly]),
input[type='search']:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid #5a9734;
    -webkit-box-shadow: 0 1px 0 0 #5a9734;
    box-shadow: 0 1px 0 0 #5a9734;
}

label.focus {
    color: #5a9734;
}

label.active {
    color: #5a9734;
}

.active {
    color: #5a9734 !important;
}

nav {
    color: black;
    background-color: white;
}

.card .card-action {
    border-top: none;
}

#profile {
    font-size: 4rem;
    max-height: 62px;
}

#address, #first-name, #last-name, #phone {
    font-size: 1rem;
    top: 0px;
}

@media (max-width: 992px) {
    #customer-home {
        left: 1%;
        -webkit-transform: translateX(1%);
    }

    label {
        font-size: 2.0rem;
    }

    #address, #first-name, #last-name, #phone {
        font-size: 0.7rem;
        top: 0px;
    }

    .card.large {
        height: 130vh;
    }
}

@media (max-width: 768px) {
    .card.large {
        margin: auto;
        height: 115vh;
    }
}

@media (max-width: 600px) {
    .card.large {
        margin: auto;
        height: 110vh;
    }
}

@media (max-width: 500px) {
    .card.large {
        margin: auto;
        height: 100vh;
    }
}

@media (max-width: 400px) {
    .card.large {
        margin: auto;
        height: 95vh;
    }
}

@media (min-width: 768px) {
    #profile {
        font-size: 2.7rem;
    }
}

@media (min-width: 425px) {
    .card-action {
        margin-top: 3rem;
    }
}