#logo-main {
    width: 80px;
    height: 65px;
}

#title {
    text-align: center;
    font-weight: bolder;
    font-size: 20px;
    color: #5a9734;
    padding-left: 80%;

}

#account-icon {
    color: #5a9734;
}

.btn {
    background-color: #e75a2c;
}

.btn:hover {
    background-color: #0092ff;
}



/* #orderConfirmation {
    text-align: center;
} */