/*background style*/
body {
    background: radial-gradient(circle closest-side at 50px 50px, #FB8B24 3px, transparent 0), radial-gradient(circle closest-side at 40px 60px, #FB8B24 3px, transparent 0), radial-gradient(circle closest-side at 60px 60px, #FB8B24 3px, transparent 0), radial-gradient(circle closest-side at 50px 70px, #FB8B24 3px, transparent 0), radial-gradient(circle closest-side at 150px 165px, #FB8B24 3px, transparent 0), radial-gradient(circle closest-side at 140px 175px, #FB8B24 3px, transparent 0), radial-gradient(circle closest-side at 160px 175px, #FB8B24 3px, transparent 0), radial-gradient(circle closest-side at 150px 185px, #FB8B24 3px, transparent 0), radial-gradient(ellipse closest-side at 50px 60px, #F9A734 18px, transparent 0), radial-gradient(ellipse closest-side at 150px 175px, #F9A734 18px, transparent 0), radial-gradient(circle closest-side at 30px 40px, #FFFFFF 15px, transparent 0), radial-gradient(circle closest-side at 40px 35px, #36964C 15px, transparent 0), radial-gradient(circle closest-side at 70px 40px, #FFFFFF 15px, transparent 0), radial-gradient(circle closest-side at 60px 35px, #286E38 15px, transparent 0), radial-gradient(circle closest-side at 130px 155px, #FFFFFF 15px, transparent 0), radial-gradient(circle closest-side at 140px 150px, #36964C 15px, transparent 0), radial-gradient(circle at 170px 155px, #FFFFFF 15px, transparent 0), radial-gradient(circle at 160px 150px, #286E38 15px, transparent 0);
    background-color: #FFFFFF;
    background-size: 180px 210px;
    animation: animatedBackground 1.2s cubic-bezier(0.61, -0.64, 0.58, 1.46) forwards;
  }
  
  /* Animation */
  @keyframes animatedBackground {
    from {
      background-position: 0 50%;
    }
    to {
      background-position: 0 0;
    }
  }

#orderConfirmation {
    background: white;
}

#logo-main {
    width: 80px;
    height: 65px;
}

#title {
    text-align: center;
}

#account-icon {
    color: #5a9734;
}

.btn {
    background-color: #e75a2c;
}
.btn:hover {
    background-color: #0092ff;
}

#title {
    font-size: 10vh;
    font-weight: bold;
}
