#pizza-container {
  height: 100vh;
  width: 100vw;
  background: #0092FF;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* set Carousel to 100% view height */
.carousel {
  height: 100vh;
}

.modal-footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

#close-order-details-modal-btn {
  text-align: left;
}
/* puts at end of grid modal */
#agree-order-details-modal-btn {
  grid-area: 1 / 3 / 2 / 5;
}