/* Background styles */
body {
  background: radial-gradient(circle closest-side at 50px 50px, #FB8B24 3px, transparent 0), radial-gradient(circle closest-side at 40px 60px, #FB8B24 3px, transparent 0), radial-gradient(circle closest-side at 60px 60px, #FB8B24 3px, transparent 0), radial-gradient(circle closest-side at 50px 70px, #FB8B24 3px, transparent 0), radial-gradient(circle closest-side at 150px 165px, #FB8B24 3px, transparent 0), radial-gradient(circle closest-side at 140px 175px, #FB8B24 3px, transparent 0), radial-gradient(circle closest-side at 160px 175px, #FB8B24 3px, transparent 0), radial-gradient(circle closest-side at 150px 185px, #FB8B24 3px, transparent 0), radial-gradient(ellipse closest-side at 50px 60px, #F9A734 18px, transparent 0), radial-gradient(ellipse closest-side at 150px 175px, #F9A734 18px, transparent 0), radial-gradient(circle closest-side at 30px 40px, #FFFFFF 15px, transparent 0), radial-gradient(circle closest-side at 40px 35px, #36964C 15px, transparent 0), radial-gradient(circle closest-side at 70px 40px, #FFFFFF 15px, transparent 0), radial-gradient(circle closest-side at 60px 35px, #286E38 15px, transparent 0), radial-gradient(circle closest-side at 130px 155px, #FFFFFF 15px, transparent 0), radial-gradient(circle closest-side at 140px 150px, #36964C 15px, transparent 0), radial-gradient(circle at 170px 155px, #FFFFFF 15px, transparent 0), radial-gradient(circle at 160px 150px, #286E38 15px, transparent 0);
  background-color: #FFFFFF;
  background-size: 180px 210px;
  animation: animatedBackground 1.2s cubic-bezier(0.61, -0.64, 0.58, 1.46) forwards;
}

#pizza-container {
  height: 100vh;
  width: 100vw;
  background: #0092FF;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* set Carousel to 100% view height */
.carousel {
  height: 100vh;
}

.modal-footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

#close-order-details-modal-btn {
  text-align: left;
}
/* puts at end of grid modal */
#agree-order-details-modal-btn {
  grid-area: 1 / 3 / 2 / 5;
}

#skip-to-first-modal {
  position: absolute;
  right: 1vw;
  top: 1vh;
  display: none;
}