<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title>banned</title>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
    </head>
    <body>
        banned :c <br />
        <p>
            If you would like us to review your account, please leave a message with your email
            address you used to sign up for the service and a message.
        </p>
        <input type="email" id="email-input" /> <label for="email-input">Email</label>

        <textarea name="Text1" cols="40" rows="25"></textarea>

        <button type="button" id="submitmsg">Click Me!</button>
    </body>
    <script
        src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"
    ></script>
    <script src="/javascript/banned.js"></script>
</html>
