<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Shop Til You Drop Customer Page</title>
    <!-- Compiled and minified CSS -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" />

    <!-- Compiled and minified JavaScript -->
    <link rel="stylesheet" href="../stylesheets/reset.css" media="screen" title="no title" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <link rel="stylesheet" href="../stylesheets/customer.css" media="screen" title="no title" />
    <link rel="shortcut icon" type="image/x-icon" href="../images/favicon.ico" />
</head>

<body>
    <div class="row">
        <div class="col s2">
            <a class="brand-logo" id="customer-home"><img id="logo-main" src="../images/logo1.png" alt="Logo" /></a>
        </div>
        <div class="col s8">
            <div class="row">
                <div class="input-field col s6">
                    <textarea id="textarea1" class="materialize-textarea"></textarea>
                    <label for="textarea1">Item Search (i.e. Apple)</label>
                </div>
                <div class="col s6">
                    <a class="waves-effect waves-light btn" id="search-btn"><i class="material-icons left">search</i>Search</a>
                </div>
                <!-- <a><i class="material-icons">search</i></a> -->
            </div>
        </div>
        <div class="col s2">
            <a id="account-icon" class="secondary-content"><i class="medium material-icons" id="profile">account_circle</i></a>
        </div>
    </div>

    </div>
    <div class="row">
        <!-- <div class="col s12">This div is 12-columns wide on all screen sizes</div> -->
        <div class="col s6">
            <ul>
                <h1>Shopping Cart</h1>
                <div id="shoppingList">

                </div>
            </ul>
        </div>
        <div class="col s6">
            <div class="first-image-placeholder">
                <img id="placeholder" src="../images/dancing-vegetables-cucumber-broccoli.jpg" alt="Search Placeholder">
            </div>
            <ul class="collection with-header">
                <li class="collection-header">
                </li>
            </ul>

        </div>
        <button class="btn waves-effect waves-light" id="cart" type="submit" name="action">
            View Cart <i class="material-icons right">send</i>
        </button>
        <script src="../javascript/customer.js"></script>
</body>

</html>