<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Shop</title>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <link rel="stylesheet" href="../stylesheets/reset.css" media="screen" title="no title">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="../stylesheets/index.css" media="screen" title="no title">
    <script src="https://code.jquery.com/jquery.js"></script>
</head>

<body>
    <div class="hero-image">
        <article class="hero-text">
            <h1>Shop til you drop!</h1>
        </article>
    </div>
    <div class="container" id="product-description">
        <div class="row">
            <div class="col s12 description">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam quia eaque
                laudantium, repudiandae distinctio quibusdam eius facere itaque, accusantium voluptas et animi quae
                impedit. Veniam a quisquam facere repellat repellendus.
            </div>
        </div>
        <div class="row">
            <div class="col s12 description">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sint magnam doloremque,
                perspiciatis atque saepe aperiam accusamus repellendus! Sed ducimus natus esse quasi fugit illo neque
                vel eveniet? Ea, quia illum.
            </div>
        </div>
        <div class="row" id="login-div">
            <div class="col s8 description">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vero, magnam minima nulla nihil reiciendis
            </div>
            <div class="col s4 description">
                <a class="waves-effect waves-light btn" href="../html/login.html"><i class="material-icons left">shop</i>Log
                    In</a>
            </div>
        </div>
    </div>
    <script src="../javascript/index.js"></script>
</body>

</html>