<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Shop</title>
    <link rel="stylesheet" href="stylesheets/reset.css" media="screen" title="no title">
    <link rel="stylesheet" href="stylesheets/index.css" media="screen" title="no title">
    <script src="https://code.jquery.com/jquery.js"></script>
</head>
<body>
    
    <script src="./javascript/index.js"></script>
</body>
</html>