<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>Shop</title>
        <!-- Compiled and minified CSS -->
        <link rel="stylesheet" href="../stylesheets/reset.css" media="screen" title="no title" />
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
        />

        <!-- Compiled and minified JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
        <link rel="stylesheet" href="/stylesheets/index.css" media="screen" title="no title" />
        <script src="https://code.jquery.com/jquery.js"></script>
        <link rel="shortcut icon" type="image/x-icon" href="../images/favicon.ico" />
    </head>

    <body>
        <div class="hero-image">
            <article class="hero-text"><h1>Shop til you drop!</h1></article>
        </div>
        <div class="container" id="product-description">
            <div class="row" id="login-div">
                <div class="col s4 description">
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vero, magnam minima
                    nulla nihil reiciendis
                </div>
                <div class="col s4 description">
                    <a class="waves-effect waves-light btn" href="/signup">Sign Up</a>
                    <i class="material-icons left">shop</i>
                </div>
                <div class="col s4 description">
                    <a class="waves-effect waves-light btn" href="/login">Log In</a>
                    <i class="material-icons left">shop</i>
                </div>
            </div>
        </div>
        <script src="/javascript/index.js"></script>
    </body>
</html>
