<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Deliver!</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- reset -->
  <link rel="stylesheet" href="../stylesheets/reset.css" media="screen" title="no title">
  <!-- materialize cdn -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <script src="https://code.jquery.com/jquery.js"></script>

  <link rel="stylesheet" type="text/css" media="screen" href="/stylesheets/pickOrder.css" />
</head>

<body>

  <!-- Leave this at the bottom of the body -->
  <script src="main.js"></script>
</body>

</html>