<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title>Sign Up</title>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
    </head>
    <body>
        <form class="signup">
            <div class="form-group">
                <label for="email-input">Email address</label>
                <input type="email" id="email-input" placeholder="Email" />
            </div>
            <div class="form-group">
                <label for="password-input">Password</label>
                <input type="password" id="password-input" placeholder="Password" />
            </div>
            <button type="submit" class="btn" id="signup">Sign Up</button>
        </form>
    </body>
    <script
        src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"
    ></script>
    <script src="/javascript/signup.js"></script>
</html>
