<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title>Account Profile</title>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
        <script src="userprofile.js"></script>
        <link rel="shortcut icon" type="image/x-icon" href="../images/favicon.ico" />
    </head>

    <body></body>
</html>
