<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Shop Til You Drop Customer Cart</title>
    <script src="https://code.jquery.com/jquery.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" />
    <link rel="stylesheet" href="../stylesheets/reset.css" media="screen" title="no title" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <link rel="stylesheet" href="../stylesheets/viewCart.css" media="screen" title="no title" />
    <link rel="shortcut icon" type="image/x-icon" href="../images/favicon.ico" />
</head>

<body>
    <div class="row">
        <div class="col s2">
            <a class="brand-logo" id="customer-home"><img id="logo-main" src="../images/logo1.png" alt="Logo" /></a>
        </div>
        <div class="col s8">
            <div class="row">
                <div class="input-field col s6">
                    <h1 id="title">Welcome to Your Cart</h1>
                </div>
                <!-- <a><i class="material-icons">search</i></a> -->
            </div>
        </div>
        <div class="col s2">
            <a id="account-icon" class="secondary-content"><i class="medium material-icons" id="profile">account_circle</i></a>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col s6" id="orderConfirmation">
                <ul class="collection with-header">
                    <li class="collection-header">
                        <h4>Cart</h4>
                    </li>
                </ul>
            </div>
        </div>
        <button id="order" class="btn waves-effect waves-light" type="submit" name="action">
            Place Order <i class="material-icons right">send</i>
        </button>
    </div>
</body>
<script src="../javascript/viewCart.js"></script>

</html>